parameters:
    bootstrapFiles:
        - vendor/yiisoft/yii2/Yii.php
    level: 9
    paths:
        - bootstrap
        - config
        - resources
        - src
        - tests
    ignoreErrors:
        - '#has parameter \$params with no value type specified in iterable type array#'
        - '#Parameter \#1 \$data of method yii\\base\\Model\:\:load\(\) expects array\, mixed given\.#'
