.buryat-name-list .list-letter li {
  margin-bottom: 9px;
  margin-left: 5px;
  padding-right: 0;
  padding-left: 0;
}

.buryat-name-list .list-letter li .badge {
  background-color: #ccc;
  color: #555;
}

.buryat-name-list .list-name li {
  margin-bottom: 10px;
}
