.news-item {
  margin-bottom: 25px;
  padding: 15px;
  background-color: var(--bg-well);
  border-radius: 4px;
}

.news-item h2 {
  font-size: 21px;
  margin-top: 0;
}

.news-widget h3 {
  margin-top: 5px;
}
