/* site/index */
.site-index .well {
  background-color: #ecf0f1;
  border-color: #d7e0e2;
}

.site-index .well h4 {
  font-size: 18px;
}

.site-index .well hr {
  border-color: #ddd;
}

.site-index .translate-list {
  padding-left: 15px;
}

.site-index #russian-translation .alert,
.site-index #buryat-translation .alert {
  margin-bottom: 0;
}